<div class="w-full flex justify-end px-2 py-6">
  <button (click)="onLogout()" class="btn w-32">로그아웃</button>
</div>
<div class="w-full h-screen flex justify-center items-center">
  <div class="w-1/5 h-1/2 rounded-xl shadow-md text-center px-4">
    <div class="h-[460px]">
      <p class="text-xl font-bold  pt-4">오늘의 할일</p>
      <div class="h-[410px] py-4 space-y-2 overflow-y-scroll">
        <div *ngFor="let memo of memos$">
          <div class="justify-between border w-full rounded-md text-start flex items-center px-4">
            <div class="form-control py-2">
              <p class="pl-2">{{memo.title}}</p>
            </div>
            <div>
              <i class="fa-regular fa-pen-to-square pr-2" [routerLink]="['/memo-detail', memo.id]"></i>
              <i class="fa-solid fa-xmark" (click)="onDeleteMemo(memo.id)"></i>
            </div>
          </div>
        </div>
      </div>
      <button [routerLink]="['/memo-detail']" class="btn w-full">입력하기</button>
    </div>
  </div>
</div>